header{
    width: 100%;
    height: 1000px;
    background-image: url('../../assets/hero-image.png');
    background-size: cover;
    background-position: center;
    background: linear-gradient(180deg, rgba(0, 204, 164, 0.60) 2.53%, rgba(0, 0, 0, 0.00) 93.01%), url('../../assets/hero-image.png') lightgray 50% / cover no-repeat;
}

header .container{
    position: relative;
    height: 100vh;
}

header .cta{
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    
}
.cta .main-title{
   font-family: SHARY, sans-serif;
    font-size: 180px;
    font-weight: 700;
    letter-spacing: 3.6px;
    
}
.cta .top-title{
    text-align: center;
    font-family: Aldrich, sans-serif;
    font-size: 66px;
    letter-spacing: 6.6px;
    margin-right: 1000px;
}
.cta .bottom-title{
    font-family: Aldrich, sans-serif;
    font-size: 57.33px;
    line-height: 80px; /* 139.543% */
    letter-spacing: 2.293px;
    margin-left: 430px;
}

#cta .explore-btn{
    position: absolute;
    right: 45%;
    top: 850px;
    border: 1px solid white;
    padding: 14px 34px;
    font-family: Karla;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 2.24px;
    color: white;
}


.triangle-up {
    position: absolute;
    right: 49.5%;
    top: 920px;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;  /* Adjust size by changing the px value */
    border-right: 15px solid transparent;
    border-top: 20px solid white;  /* Color and size of the triangle */
}
