.flex {
	display: flex;
	flex-direction: column;
	gap: 4rem;
}

.topContainer {
	text-align: center;
	max-width: 48rem;
	margin: 0 auto;
}

.topContainer h2 {
	margin-bottom: 1rem;
}

.bottomContainer {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	gap: 1.25rem;
}

.card {
	height: 15rem;
	background-color: blue;
	display: flex;
	justify-content: center;
	align-items: center;
}

.card_5cols {
	grid-column: span 5;
}

.card_4cols {
	grid-column: span 4;
}

.card_3cols {
	grid-column: span 3;
}
