.eventContainer {
  display: flex;
  align-items: center;
  margin: 40px 40px;
}

.eventImage {
  width: 100%;
  max-width: 400px;
  overflow: hidden;
  margin-right: 40px;
}

.eventImage img {
  width: 100%;
  height: 500px;
  border-radius: 20px;
}

.eventDetails {
  max-width: 100%;
}

.eventDetails h1 {
  margin: 10px 0;
}

.eventDetails p {
  font-size: 1rem;
  margin: 15px 0;
  padding-right: 140px;
}

.eventDetails h3 {
  margin: 30px 0 20px 0;
  font-weight: bold;
}

.registrationForm {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.registrationForm input {
  color: var(--secondary);
  padding: 10px 20px;
  width: 400px;
  font-size: 1rem;
  border: 1px solid var(--secondary);
  border-radius: 20px;
  background-color: var(--primary);
}

.registrationForm input::placeholder {
  color: var(--secondary);
}

.registrationForm button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: var(--accent);
  color: var(--primary);
  font-size: 1rem;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  width: 105px;
}

.registrationForm button:hover {
  transform: scale(1.02);
  transition: ease-out 0.2s;
}

.error {
  /* height: 0; */
  margin-top: 2px;
  display: block;
  font-size: 15px;
  margin-left: 15px;
  color: #d40000;
}

/* Scoped global resets */
:global(*),
:global(*::before),
:global(*::after) {
  box-sizing: border-box;
}

.customField {
  position: relative;
  font-size: 14px;
  /* border-top: 20px solid transparent; */
  margin-bottom: 5px;
  display: inline-block;
  --field-padding: 12px;
}

.customFieldInput {
  border: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #f2f2f2;
  padding: var(--field-padding);
  border-radius: 3px;
  width: 250px;
  outline: none;
  font-size: 14px;
}

.placeholder {
  position: absolute;
  left: var(--field-padding);
  width: calc(100% - (var(--field-padding) * 2));
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  top: 22px;
  line-height: 100%;
  transform: translateY(-50%);
  color: #aaa;
  transition:
    top 0.3s ease,
    color 0.3s ease,
    font-size 0.3s ease;
}

.customFieldInputDirty + .placeholder,
.customFieldInput:focus + .placeholder,
.customFieldInput:not(:placeholder-shown) + .placeholder {
  top: -10px;
  font-size: 10px;
  color: #222;
}

.errorMessage {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 8px;
  font-size: 12px;
  background: #d30909;
  color: #fff;
  height: 24px;
}

.errorMessage:empty {
  opacity: 0;
}

/* ONE */
.oneCustomFieldInput {
  background: none;
  border: 2px solid #ddd;
  transition: border-color 0.3s ease;
}

.onePlaceholder {
  left: 8px;
  padding: 0 5px;
}

.oneCustomFieldInputDirty,
.oneCustomFieldInput:not(:placeholder-shown),
.oneCustomFieldInput:focus {
  border-color: #222;
  transition-delay: 0.1s;
}

.oneCustomFieldInputDirty + .onePlaceholder,
.oneCustomFieldInput:not(:placeholder-shown) + .onePlaceholder,
.oneCustomFieldInput:focus + .onePlaceholder {
  top: 0;
  font-size: 10px;
  color: #fff;
  width: auto;
}

@media (max-width: 480px) {
  .eventContainer {
    flex-direction: column;
    margin: 20px 5px;
  }

  .eventImage img {
    width: 600px;
    border-radius: 0px;
    height: 200px;
  }
  .eventImage {
    margin: 0 0px;
  }
  .eventDetails h1 {
    font-size: 1.7rem;
    margin-top: 30px;
  }
  .eventDetails h2 {
    font-size: 1.2rem;
  }

  .eventDetails p {
    font-size: 0.9rem;
    padding-right: 0;
  }

  .registrationForm input {
    width: 100%;
    padding: 8px 16px;
    margin: 4px;
  }

  .registrationForm button {
    width: 100%;
    padding: 8px 16px;
    font-size: 0.9rem;
    justify-content: center;
  }
  .error {
    height: 0;
    margin-top: 0px;
    display: block;
    font-size: 10px;
    margin-left: 15px;
    color: #d40000;
  }
}
