/* General container for the carousel */
.carouselContainer {
  padding: 20px;
  background-color: #20201f;
  color: white;
  text-align: center;
  margin: 0 auto;
  overflow-x: hidden; /* Hide horizontal overflow */
}

.carouselHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
  padding: 0 20px;
}

.carouselHeading {
  font-size: 40px;
  margin-bottom: 20px;
}

/* Embla specific styles */
.embla {
  position: relative;
  padding: 10px 0;
}

.emblaViewport {
  width: 75%;
  margin: 0 auto;
  padding-left: 15px; /* Add padding to make sure first slide is visible */
}

.emblaContainer {
  display: flex;
  transition: transform 0.3s ease;
  will-change: transform;
}

.emblaSlide {
  margin-right: 50px;
  flex: 0 0 40%;
  position: relative;
  background-color: #222;
  border-radius: 12px;
  transition:
    transform 0.3s,
    box-shadow 0.3s;
}

.emblaSlide:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2);
}

/* Slide content styling */
.slideImage {
  width: 100%;
  height: auto;
}

.heading {
  padding: 20px 0px;
  font-size: 25px;
}

.slideContent {
  padding: 20px;
  color: white;
  float: left;
}

.slideContent p {
  font-size: 17px;
  opacity: 0.8;
}

/* Navigation buttons */
.emblaPrev,
.emblaNext {
  background-color: #e1f264;
  border: none;
  color: #111;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 24px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s;
  line-height: 1;
}

.emblaPrev {
  left: 10px;
}

.emblaNext {
  right: 10px;
}

.emblaPrev:hover,
.emblaNext:hover {
  background-color: #c7d100;
}

.registerButton {
  background-color: #e1f264;
  color: #111;
  border: none;
  margin: 14px;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.registerButton:hover,
.allEventsButton:hover {
  background-color: #c7d100;
  transition: background-color 0.3s;
}

.allEventsButton {
  background-color: #e1f264;
  color: #111;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 16px;
  margin-top: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* Responsive Design */
@media (max-width: 1200px) {
  .emblaViewport {
    width: 85%;
  }

  .emblaSlide {
    flex: 0 0 33%;
  }

  .heading {
    font-size: 22px;
  }

  .slideContent {
    float: unset;
  }
  .slideContent p {
    font-size: 14px;
    opacity: 0.8;
  }
}

@media (max-width: 768px) {
  .emblaViewport {
    width: 90%;
  }

  .emblaSlide {
    flex: 0 0 50%;
  }

  .heading {
    font-size: 20px;
  }

  .carouselHeading {
    font-size: 30px;
  }
}

@media (max-width: 576px) {
  .emblaViewport {
    width: 95%;
  }

  .emblaSlide {
    flex: 0 0 80%;
  }

  .heading {
    font-size: 18px;
  }

  .carouselHeading {
    font-size: 28px;
  }

  .emblaPrev,
  .emblaNext {
    width: 35px;
    height: 35px;
    font-size: 20px;
  }
}
