/**** UTILITY CLASSES ****/

/* Use this for first div inside a section for responsive widths */
.container {
	--max-width: 82rem;
	--padding: 2rem;

	width: min(var(--max-width), 100% - var(--padding) * 2);
	margin-inline: auto;
}

/**** GENERAL STYLING ****/

html {
	overflow: hidden;
}

body {
	background-color: var(--clr-black);
	font-family: var(--ff-paragraph);
	color: var(--clr-white);
	overflow-y: scroll;
	position: relative;
}

body::-webkit-scrollbar {
	display: none;
}

section,
header {
	padding: 0 clamp(1rem, 8vw, 5rem);
}

@media screen and (max-width: 768px) {
	section,
	header {
		padding: 0 1rem;
	}
}

@media screen and (max-width: 590px) {
	section {
		padding: 0;
	}
}

h1 {
	font-family: var(--ff-heading);
	font-size: 3.5rem;
	letter-spacing: 0.25rem;
}

h2 {
	font-family: var(--ff-heading);
	font-size: 3rem;
	font-weight: 500;
	letter-spacing: 0.2rem;
	line-height: 3.3rem;
}

h3 {
	font-family: var(--ff-heading);
	font-size: 1.6rem;
	letter-spacing: 0.1rem;
}

p {
	font-size: 1rem;
	font-weight: 300;
	line-height: 1.8rem;
	opacity: 90%;
}
