/**** UTILITY CLASSES ****/

/* Use this for first div inside a section for responsive widths */
.container {
	--max-width: ;
	--padding: 1rem;

	width: min(var(--max-width), 100% - var(--padding));
	margin-inline: auto;
}

/**** GENERAL STYLING ****/
body {
	background-color: var(--clr-black);
	font-family: var(--ff-paragraph);
	color: var(--clr-white);
}

h1 {
	font-family: var(--ff-heading);
	font-size: 3.5rem;
	letter-spacing: 0.25rem;
}

h2 {
	font-family: var(--ff-heading);
	font-size: 3rem;
	letter-spacing: 0.2rem;
}

h3 {
	font-family: var(--ff-heading);
	font-size: 1.6rem;
	letter-spacing: 0.1rem;
}
