div {
  padding: 0 5px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  z-index: 10;

  background: rgba(0, 0, 0, 0.4);
}

.overlay p {
  font-size: 30px;
  font-weight: bold;
}

.newsletterContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--primary);
  color: var(--secondary);
  padding: 40px 0;
  margin: 40px 0 40px;
  position: relative;
}

.newsletter h1 {
  font-family: Nacelle-Black, sans-serif;
  font-size: 2rem;
  padding-bottom: 13px;
}

.newsDate {
  font-size: 15px;
  line-height: 18px;
}

/* Carousel Styles */
.carousel {
  margin: 20px 0;
  width: 100%;
  max-height: 185px;
  position: relative;
}

.carouselItem,
.secondCarouselItem {
  position: relative;
  overflow: hidden;
  width: 290px !important;
  height: 185px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--secondary);
  font-size: 1.5rem;
  padding: 0;
  border-radius: 25px;
  cursor: pointer;
}

.newsContent {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  border-radius: 25px;
}

.newsImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.2s ease-in-out;
}

.newsContent::before {
  content: '';
  border-radius: 25px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.8)
  );
  opacity: 0.85;
  pointer-events: none;
  z-index: 1;
  transition: opacity 0.2s ease-in;
}

.newsContent:hover::before {
  opacity: 1;
}

.carouselItem:hover .newsImage,
.secondCarouselItem:hover .newsImage {
  transform: scale(1.05);
}

.carouselItem h2,
.secondCarouselItem h2 {
  position: relative;
  padding: 31px 0 0 32px;
  font-size: 25px;
  line-height: 29px;
  z-index: 2;
}

.newsDate {
  position: relative;
  padding: 0 0 0 32px;
  font-size: 15px;
  line-height: 18px;
  z-index: 2;
}

/* Button Styles */
.buttonContainer {
  padding: 4px 24px 0 0;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  z-index: 10;
}

.seeMoreButton {
  background-color: var(--accent);
  color: var(--primary);
  font-size: 14px;
  line-height: 23px;
  font-weight: 400;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  border-radius: 50px;
  display: flex;
  align-items: center;
  transition: background-color ease-in 0.2s;
}

.seeMoreButton:hover {
  background-color: var(--secondary);
}

.arrow {
  margin-left: 20px;
}

/* Responsive Design */

/* for large screens */
@media (min-width: 1200px) {
  .newsletter h1 {
    margin-left: 43px;
  }

  .carouselItem {
    width: 400px !important;
  }

  .seeMoreButton {
    font-size: 19px;
    margin-top: 30px;
    padding: 14px 21px;
  }
}

/* for medium screens */
@media (min-width: 960px) {
  .newsletterContainer {
    align-items: stretch;
  }

  .newsletter h1 {
    margin-left: 43px;
  }

  .carousel::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(
      to right,
      rgba(18, 18, 18, 0.75) 0%,
      rgba(18, 18, 18, 0) 10%
    );
    z-index: 1;
    pointer-events: none;
    transition: opacity 0.2s ease-in;
  }

  .carousel::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(
      to right,
      rgba(18, 18, 18, 0) 90%,
      rgba(18, 18, 18, 0.75) 100%
    );
    opacity: 1;
    z-index: 1;
    pointer-events: none;
    transition: opacity 5s ease-in;
  }

  .carouselItem {
    width: 400px !important;
    margin: 0 5px;
  }

  .secondCarouselItem {
    margin: 0 5px;
  }

  .seeMoreButton {
    font-size: 19px;
    margin-top: 40px;
    padding: 16px 21px;
  }
}

/* for smaller screens */
@media (min-width: 600px) and (max-width: 959px) {
  .newsletterContainer {
    align-items: stretch;
  }
  .secondCarousel {
    margin-top: 5px;
  }

  .newsletter h1 {
    padding-left: 18px;
  }

  .carouselItem {
    width: 400px !important;
  }
}
