.newsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  width: 100%;
  box-sizing: border-box;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 970px;
  background: #000;
  z-index: 1000;
  padding: 40px;
  overflow-y: auto;
  max-height: 90vh;
  border-radius: 15px;
  color: white;
}

.modalContent {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  width: 100%;
}

.modalClose {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 20px;
  color: #e1f264;
  background: transparent;
  border: 1px solid #e1f264;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 1001;
}

.formGroup {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

.formGroup label {
  font-size: 18px;
  font-weight: 500;
  color: white;
}

.inputField {
  height: 48px;
  border-radius: 30px;
  border: 1px solid #e1f264;
  background: transparent;
  color: #fafafa;
  padding: 0 20px;
  font-size: 16px;
  width: 100%;
}

.textAreaField {
  border-radius: 15px;
  border: 1px solid #e1f264;
  background: transparent;
  color: #fafafa;
  padding: 15px 20px;
  font-size: 16px;
  min-height: 120px;
  width: 100%;
  resize: vertical;
}

.modalRow {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  width: 100%;
}

.modalActions {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  margin-top: 10px;
}

.deleteButton,
.editButton,
.saveButton {
  background: #e1f264;
  color: #000;
  font-weight: 600;
  font-size: 1rem;
  padding: 10px 30px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  height: 48px;
  min-width: 180px;
}

.saveButton:hover,
.editButton:hover,
.deleteButton:hover {
  background: #000;
  color: #e1f264;
  border: 1px solid #e1f264;
  transition: all 0.3s ease;
}

input[type='date'].inputField {
  appearance: none;
  -webkit-appearance: none;
  padding-right: 20px;
}

input[type='date'].inputField::-webkit-calendar-picker-indicator {
  filter: invert(1);
  opacity: 0.6;
  cursor: pointer;
}

.inputError {
  border-color: #ff4d4d;
  margin-left: 10px;
}

.errorText {
  color: #ff4d4d;
  font-size: 10px;
  margin-top: 1px;
  padding-left: 20px;
}

.selectField {
  height: 48px;
  border-radius: 30px;
  border: 1px solid #e1f264;
  background: var(--primary);
  color: var(--secondary);
  padding: 0 20px;
  font-size: 16px;
  width: 100%;
}
