footer {
	background: linear-gradient(
			0deg,
			rgba(0, 204, 164, 0.6) 0%,
			rgba(0, 0, 0, 0) 100%
		),
		#010100;
	padding: 5rem 5rem 3rem;
}

.footerContainer {
	display: flex;
	justify-content: space-between;
	gap: 5rem;
}

.footerlinks {
	flex-grow: 1;
	display: flex;
	justify-content: space-between;
	max-width: 20rem;
}

.links {
	flex-grow: 1;
}

.links ul {
	font-family: Karla;
	font-size: 1rem;
	font-weight: 400;
}

.links h3 {
	font-family: Aldrich;
	font-size: 1.25rem;
	line-height: 2rem;
}

.subscribe {
	flex-grow: 2;
	display: flex;
	flex-direction: column;
	max-width: 40rem;
}

.subscribe h3 {
	font-size: 1.5rem;
	letter-spacing: 0.2rem;
	margin-bottom: 0.2rem;
}

.subscribe p {
	font-size: 1rem;
	margin-bottom: 0.5rem;
}

.form {
	display: flex;
	align-items: center;
	width: 100%;
}

.form input {
	border: none;
	background-color: var(--clr-black);
	width: 80%;
	height: 2rem;
	color: var(--clr-white);
	padding-left: 0.75rem;
	font-size: 1rem;
}

.form input::placeholder {
	color: var(--clr-white);
	font-size: 1rem;
	opacity: 70%;
	font-weight: 300;
}

.subscribe button {
	width: 20%;
	line-height: normal;
	border: none;
	max-height: 2rem;
	padding: 0.5rem 0.75rem;
	background-color: var(--clr-primary);
	font-weight: 500;
}
