:root {
  --hero-height: 75vh;
  /* --hero-height: min(56.25vw, 75vh); */
  /* --hero-height: 80vh; */
  --small-sticky-header-height: 80px;
  --big-sticky-header-height: 100px;
}

/* SCROLLABLE STYLES */

.scrollable {
  height: 100vh;
  width: 100vw;
  overflow-y: scroll;
  padding: 0;
  margin: 0;
}

.scrollable > * {
  padding: 0;
  margin: 0;
}

/* MAIN STYLES
  –––––––––––––––––––––––––––––––––––––––––––––––––– */

.first {
  padding: 0;
  margin: 0;
  position: sticky;
  margin: 0;
  top: 0;
  left: 0;
  width: 100vw;
  height: var(--hero-height);
  background: var(--img);
  background-blend-mode: multiply;
  display: grid;
  place-items: center;
  z-index: 11;
}

section,
.first > * {
  transition: all 0.6s;
}

.first > * {
  width: 100%;
  padding: 0;
  margin: 0;
}

.first .pageHeader {
  padding: 0;
  opacity: 0;
  visibility: hidden;
}

/* .second {
  padding: 10vh 0 10vh 0;
} */

/* .second {
    padding: calc(var(--hero-height) + 10vh) 0 10vh 0;
  } */

/* JS STYLES
  –––––––––––––––––––––––––––––––––––––––––––––––––– */

.isSticky::before {
  padding: 0;
  content: '';
  position: fixed;
  top: 65px;
  left: 0;
  width: 100%;
  height: 15px;
  /* box-shadow: 0 10px 15px rgba(0, 0, 0, 0.7); */
}
.isSticky .first {
  padding: 0;
  margin: 0;
  height: var(--small-sticky-header-height);
  background: none;
  background-color: var(--primary);
}

.isSticky .first .pageHeader {
  padding: 0;
  margin: 0;
  opacity: 1;
  visibility: visible;
}

.isSticky .second {
  padding-top: 7rem;
}

/* .isSticky .second {
    padding-top: calc(var(--sticky-header-height) + 15vh);
  } */

@media screen and (min-width: 1200px) {
  .isSticky .first {
    height: var(--big-sticky-header-height);
  }
}

.logo_wrapper {
  position: absolute;
  width: fit-content;
  height: fit-content;
  top: 50%;
  left: min(50vh, 50vw);
  transform: translate(-50%, -50%);
}

.isSticky .logo {
  opacity: 0;
  visibility: hidden;
}

.logo {
  display: flex;
  flex-direction: column;
  font-family: Nacelle-Black;
  font-size: min(25vh, 25vw);
  line-height: min(25vh, 25vw);
}

.logo_club {
  color: transparent;
  -webkit-text-stroke: min(1vh, 1vw) var(--accent);
  text-stroke: min(1vh, 1vw) var(--accent);
  padding: 0;
  margin: 0;
}

.logo_tech {
  color: var(--secondary);
  padding: 0;
  margin: 0;
}

.grad {
  position: absolute;
  width: 100%;
  height: calc(100vh - var(--hero-height));
  top: 100%;
  left: 50%;
  transform: translate(-50%, -100%);
  z-index: 13;
  background-image: linear-gradient(rgba(0, 0, 0, 0), var(--primary));
  transition: all 0.6s;
}

.isSticky .grad {
  transform: translate(-50%, 0%);
  opacity: 0;
  visibility: hidden;
  height: 0;
}

@-moz-document url-prefix() {
  .isSticky .second {
    padding-top: 7em;
  }
}
