/* Sidebar.module.css */
.sidebar {
  background-color: #121212;
  width: 200px;
  height: 100vh;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  color: white;
  border-right: 1px solid #e1f264;
  position: fixed;
  left: 0;
  top: 0;
  transition: transform 0.3s ease-in-out;
  z-index: 1000;
}

.hamburger {
  display: none;
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 1001;
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
  transition: opacity 0.3s ease;
}

.hamburger span {
  display: block;
  width: 25px;
  height: 3px;
  background-color: #e1f264;
  margin: 5px 0;
  transition: 0.3s;
}

.closeButton {
  display: none;
  position: absolute;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
  color: #e1f264;
  font-size: 24px;
  cursor: pointer;
  padding: 5px;
  z-index: 1002;
}

.sidebar_logo {
  margin-bottom: 40px;
  padding-left: 10px;
}

.logo_tech {
  font-size: 50px;
  font-weight: 700;
  color: white;
  display: block;
  line-height: 1;
}

.logo_club {
  font-size: 50px;
  font-weight: 700;
  color: #e1f264;
  display: block;
  line-height: 1;
  color: transparent;
  -webkit-text-stroke: 1px var(--accent);
}

.nav_links {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.nav_item {
  color: #fafafa;
  text-decoration: none;
  font-size: 16px;
  padding: 8px 10px;
  border-radius: 4px;
  transition: all 0.2s ease;
}

.nav_item:hover {
  color: #e1f264;
}

.active {
  color: #e1f264;
  font-weight: 600;
}

/* Responsive styles */
@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .sidebar {
    transform: translateX(-100%);
  }

  .sidebar.active {
    transform: translateX(0);
  }

  .closeButton {
    display: block;
  }

  .hamburger.active {
    opacity: 0;
    pointer-events: none;
  }

  .hamburger.active span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }

  .hamburger.active span:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active span:nth-child(3) {
    transform: rotate(-45deg) translate(7px, -6px);
  }
}
